.footer-container {
  display: flex;

  align-items: center;
  padding-top: 2.5rem;
}

.information-container {
  flex: 1;
  text-align: center;
}

.footer-container .informations {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 5rem;
}

.informations-title {
  font-size: 2.4rem;
  color: #2a3061;
  margin-bottom: 2.5rem;
}

.information-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.8rem;
}

.information-icon {
  font-size: 2.6rem;
  color: #2a3061;
}
